<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.infrastructure.mapper.MeetingNoteMapper">
    <select id="selectById" parameterType="string" resultType="com.xuena.supplier.domain.entity.MeetingNoteDO">
        SELECT id, supplier_name, month_from, month_to, note, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_meeting_note WHERE id = #{id} AND is_deleted = 0
    </select>
    
    <select id="selectList" resultType="com.xuena.supplier.domain.entity.MeetingNoteDO">
        SELECT id, supplier_name, month_from, month_to, note, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_meeting_note WHERE is_deleted = 0
        <if test="supplierName != null and supplierName != ''">AND supplier_name LIKE CONCAT('%', #{supplierName}, '%')</if>
        <if test="monthFrom != null and monthFrom != ''">AND month_from &gt;= #{monthFrom}</if>
        <if test="monthTo != null and monthTo != ''">AND month_to &lt;= #{monthTo}</if>
        ORDER BY create_date DESC
    </select>
    
    <insert id="insert" parameterType="com.xuena.supplier.domain.entity.MeetingNoteDO">
        INSERT INTO sp_meeting_note (id, supplier_name, month_from, month_to, note, create_name, create_id)
        VALUES (#{id}, #{supplierName}, #{monthFrom}, #{monthTo}, #{note}, #{createName}, #{createId})
    </insert>
    
    <update id="update" parameterType="com.xuena.supplier.domain.entity.MeetingNoteDO">
        UPDATE sp_meeting_note
        <set>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="monthFrom != null">month_from = #{monthFrom},</if>
            <if test="monthTo != null">month_to = #{monthTo},</if>
            <if test="note != null">note = #{note},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="delete" parameterType="string">
        UPDATE sp_meeting_note SET is_deleted = 1 WHERE id = #{id}
    </update>
</mapper>
