<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.infrastructure.mapper.MonthlyAssessmentMapper">
    <select id="selectById" parameterType="string" resultType="com.xuena.supplier.domain.entity.MonthlyAssessmentDO">
        SELECT id, `year_month`, supplier_name, category, total, grade, dimension_a, dimension_b, dimension_c, dimension_d, sub_a1, sub_a2, sub_a3, sub_a4, sub_b1, sub_b2, sub_b3, sub_b4, sub_b5, sub_c1, sub_c2, sub_c3, sub_d1a, sub_d1b, sub_d2a, sub_d2b, sub_d2c, sub_d2d, sub_d2e, conclusion, exception_quality, exception_cost, exception_delivery, exception_service_product, exception_service_package, exception_other, status, file_name, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_monthly_assessment WHERE id = #{id} AND is_deleted = 0
    </select>
    
    <select id="selectByYearMonthAndSupplier" parameterType="map" resultType="com.xuena.supplier.domain.entity.MonthlyAssessmentDO">
        SELECT id, `year_month`, supplier_name, category, total, grade, dimension_a, dimension_b, dimension_c, dimension_d, sub_a1, sub_a2, sub_a3, sub_a4, sub_b1, sub_b2, sub_b3, sub_b4, sub_b5, sub_c1, sub_c2, sub_c3, sub_d1a, sub_d1b, sub_d2a, sub_d2b, sub_d2c, sub_d2d, sub_d2e, conclusion, exception_quality, exception_cost, exception_delivery, exception_service_product, exception_service_package, exception_other, status, file_name, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_monthly_assessment WHERE `year_month` = #{yearMonth} AND supplier_name = #{supplierName} AND is_deleted = 0
    </select>
    
    <select id="selectList" resultType="com.xuena.supplier.domain.entity.MonthlyAssessmentDO">
        SELECT id, `year_month`, supplier_name, category, total, grade, dimension_a, dimension_b, dimension_c, dimension_d, sub_a1, sub_a2, sub_a3, sub_a4, sub_b1, sub_b2, sub_b3, sub_b4, sub_b5, sub_c1, sub_c2, sub_c3, sub_d1a, sub_d1b, sub_d2a, sub_d2b, sub_d2c, sub_d2d, sub_d2e, conclusion, exception_quality, exception_cost, exception_delivery, exception_service_product, exception_service_package, exception_other, status, file_name, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_monthly_assessment WHERE is_deleted = 0
        <if test="yearMonth != null and yearMonth != ''">AND `year_month` = #{yearMonth}</if>
        <if test="supplierName != null and supplierName != ''">AND supplier_name LIKE CONCAT('%', #{supplierName}, '%')</if>
        <if test="category != null and category != ''">AND category = #{category}</if>
        <if test="grade != null and grade != ''">AND grade = #{grade}</if>
        <if test="status != null and status != ''">AND status = #{status}</if>
        ORDER BY `year_month` DESC, create_date DESC
    </select>
    
    <insert id="insert" parameterType="com.xuena.supplier.domain.entity.MonthlyAssessmentDO">
        INSERT INTO sp_monthly_assessment (id, `year_month`, supplier_name, category, total, grade,
            dimension_a, dimension_b, dimension_c, dimension_d,
            sub_a1, sub_a2, sub_a3, sub_a4,
            sub_b1, sub_b2, sub_b3, sub_b4, sub_b5,
            sub_c1, sub_c2, sub_c3,
            sub_d1a, sub_d1b, sub_d2a, sub_d2b, sub_d2c, sub_d2d, sub_d2e,
            conclusion, exception_quality, exception_cost, exception_delivery,
            exception_service_product, exception_service_package, exception_other, status, file_name,
            create_name, create_id)
        VALUES (#{id}, #{yearMonth}, #{supplierName}, #{category}, #{total}, #{grade},
            #{dimensionA}, #{dimensionB}, #{dimensionC}, #{dimensionD},
            #{subA1}, #{subA2}, #{subA3}, #{subA4},
            #{subB1}, #{subB2}, #{subB3}, #{subB4}, #{subB5},
            #{subC1}, #{subC2}, #{subC3},
            #{subD1a}, #{subD1b}, #{subD2a}, #{subD2b}, #{subD2c}, #{subD2d}, #{subD2e},
            #{conclusion}, #{exceptionQuality}, #{exceptionCost}, #{exceptionDelivery},
            #{exceptionServiceProduct}, #{exceptionServicePackage}, #{exceptionOther}, #{status}, #{fileName},
            #{createName}, #{createId})
    </insert>
    
    <update id="update" parameterType="com.xuena.supplier.domain.entity.MonthlyAssessmentDO">
        UPDATE sp_monthly_assessment
        <set>
            <if test="yearMonth != null">`year_month` = #{yearMonth},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="category != null">category = #{category},</if>
            <if test="total != null">total = #{total},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="dimensionA != null">dimension_a = #{dimensionA},</if>
            <if test="dimensionB != null">dimension_b = #{dimensionB},</if>
            <if test="dimensionC != null">dimension_c = #{dimensionC},</if>
            <if test="dimensionD != null">dimension_d = #{dimensionD},</if>
            <if test="conclusion != null">conclusion = #{conclusion},</if>
            <if test="status != null">status = #{status},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="delete" parameterType="string">
        UPDATE sp_monthly_assessment SET is_deleted = 1 WHERE id = #{id}
    </update>
    
    <update id="updateStatus" parameterType="map">
        UPDATE sp_monthly_assessment SET status = #{status} WHERE id = #{id}
    </update>
    
    <select id="countByYearMonthAndSupplier" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM sp_monthly_assessment WHERE `year_month` = #{yearMonth} AND supplier_name = #{supplierName} AND is_deleted = 0
    </select>
</mapper>
