<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.infrastructure.mapper.RoleMenuMapper">
    <select id="selectMenuIdsByRoleId" parameterType="string" resultType="string">
        SELECT menu_id FROM sp_role_menu WHERE role_id = #{roleId}
    </select>
    
    <insert id="insert">
        INSERT INTO sp_role_menu (role_id, menu_id) VALUES (#{roleId}, #{menuId})
    </insert>
    
    <delete id="deleteByRoleId" parameterType="string">
        DELETE FROM sp_role_menu WHERE role_id = #{roleId}
    </delete>
    
    <delete id="deleteByRoleIdAndMenuIds">
        DELETE FROM sp_role_menu WHERE role_id = #{roleId} AND menu_id NOT IN
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>
</mapper>