<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.infrastructure.mapper.RoleMapper">
    <select id="selectById" parameterType="string" resultType="com.xuena.supplier.domain.entity.RoleDO">
        SELECT id, name, code, description, is_system, is_enabled, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_role WHERE id = #{id} AND is_deleted = 0
    </select>
    
    <select id="selectByCode" parameterType="string" resultType="com.xuena.supplier.domain.entity.RoleDO">
        SELECT id, name, code, description, is_system, is_enabled, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_role WHERE code = #{code} AND is_deleted = 0
    </select>
    
    <select id="selectList" resultType="com.xuena.supplier.domain.entity.RoleDO">
        SELECT id, name, code, description, is_system, is_enabled, is_deleted, create_name, create_id, create_date, update_name, update_id, update_date FROM sp_role WHERE is_deleted = 0 ORDER BY create_date DESC
    </select>
    
    <insert id="insert" parameterType="com.xuena.supplier.domain.entity.RoleDO">
        INSERT INTO sp_role (id, name, code, description, is_system, is_enabled, create_name, create_id)
        VALUES (#{id}, #{name}, #{code}, #{description}, #{isSystem}, #{isEnabled}, #{createName}, #{createId})
    </insert>
    
    <update id="update" parameterType="com.xuena.supplier.domain.entity.RoleDO">
        UPDATE sp_role
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isSystem != null">is_system = #{isSystem},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="delete" parameterType="string">
        UPDATE sp_role SET is_deleted = 1 WHERE id = #{id}
    </update>
    
    <select id="countByCode" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM sp_role WHERE code = #{code} AND is_deleted = 0
    </select>
    
    <select id="countByCodeAndNotId" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM sp_role WHERE code = #{code} AND id != #{id} AND is_deleted = 0
    </select>
</mapper>
