<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.mapper.RolePermissionMapper">
    <select id="selectPermissionIdsByRoleId" parameterType="long" resultType="long">
        SELECT permission_id FROM sp_role_permission WHERE role_id = #{roleId}
    </select>
    
    <insert id="insert">
        INSERT INTO sp_role_permission (role_id, permission_id) VALUES (#{roleId}, #{permissionId})
    </insert>
    
    <delete id="deleteByRoleId" parameterType="long">
        DELETE FROM sp_role_permission WHERE role_id = #{roleId}
    </delete>
    
    <delete id="deleteByRoleIdAndPermissionIds">
        DELETE FROM sp_role_permission WHERE role_id = #{roleId} AND permission_id NOT IN
        <foreach collection="permissionIds" item="permissionId" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>
</mapper>