<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.mapper.SupplierPoolMapper">
    <select id="selectById" parameterType="long" resultType="com.xuena.supplier.entity.SupplierPoolDO">
        SELECT * FROM sp_supplier_pool WHERE id = #{id} AND is_deleted = 0
    </select>
    
    <select id="selectByName" parameterType="string" resultType="com.xuena.supplier.entity.SupplierPoolDO">
        SELECT * FROM sp_supplier_pool WHERE name = #{name} AND is_deleted = 0
    </select>
    
    <select id="selectList" resultType="com.xuena.supplier.entity.SupplierPoolDO">
        SELECT * FROM sp_supplier_pool WHERE is_deleted = 0
        <if test="name != null and name != ''">AND name LIKE CONCAT('%', #{name}, '%')</if>
        <if test="category != null and category != ''">AND category = #{category}</if>
        <if test="isDisabled != null">AND is_disabled = #{isDisabled}</if>
        ORDER BY gmt_create DESC
    </select>
    
    <insert id="insert" parameterType="com.xuena.supplier.entity.SupplierPoolDO">
        INSERT INTO sp_supplier_pool (name, category, is_disabled)
        VALUES (#{name}, #{category}, #{isDisabled})
    </insert>
    
    <update id="update" parameterType="com.xuena.supplier.entity.SupplierPoolDO">
        UPDATE sp_supplier_pool
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="category != null">category = #{category},</if>
            <if test="isDisabled != null">is_disabled = #{isDisabled},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="delete" parameterType="long">
        UPDATE sp_supplier_pool SET is_deleted = 1 WHERE id = #{id}
    </update>
    
    <select id="countByName" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM sp_supplier_pool WHERE name = #{name} AND is_deleted = 0
    </select>
    
    <select id="countByNameAndNotId" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM sp_supplier_pool WHERE name = #{name} AND id != #{id} AND is_deleted = 0
    </select>
    
    <update id="updateStatus" parameterType="map">
        UPDATE sp_supplier_pool SET is_disabled = #{isDisabled} WHERE id = #{id}
    </update>
</mapper>