<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuena.supplier.infrastructure.mapper.UserRoleMapper">
    <select id="selectRoleIdsByUserId" parameterType="string" resultType="string">
        SELECT role_id FROM sp_user_role WHERE user_id = #{userId}
    </select>
    
    <insert id="insert">
        INSERT INTO sp_user_role (user_id, role_id, create_name, create_id) VALUES (#{userId}, #{roleId}, #{createName}, #{createId})
    </insert>
    
    <delete id="deleteByUserId" parameterType="string">
        DELETE FROM sp_user_role WHERE user_id = #{userId}
    </delete>
    
    <delete id="deleteByUserIdAndRoleIds">
        DELETE FROM sp_user_role WHERE user_id = #{userId} AND role_id NOT IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>
